.form-group.radio-group {
    padding: 15px;
    margin: 0;
    margin-left: 15px;
}

.radio-group label {
    padding-right: 15px;
    padding-left: 8px;
}


th, td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #4CAF50;
    color: white; 
}

.table-results {
    margin-bottom: 50px;
}

.unavailable {
    color: #d9534f;
}

.bi {
    padding-right: 8px;
}

.sort-icon {
    font-size: 20px;
   
}

.sort-icon:hover {
    color: #4e5d6c;
}

.column-title {
    display: flex;
    align-items: center;
}

.disable {
    margin-left: 12px;
    padding: 4px;
}

.td-disable {
    display: flex;
    align-items: center;
}